[nixpacks.env]
NPM_CONFIG_IGNORE_OPTIONAL = "false"
PNPM_IGNORE_OPTIONAL = "false"

[phases.setup]
nixPkgs = ["nodejs_18", "pnpm-9_x", "python3", "gcc", "gnumake"]

[phases.install]
cmds = ["pnpm install --no-frozen-lockfile"]
